.quote_form {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 20px;
    color: white;
    font-family: 'Bellefair', serif;
}

.quote_form div:first-child {
    margin-right: 12px;
}