.user {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.user_input {
    padding: 15px 50px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
}

.user_input::placeholder {
    text-align: center;
}

.greeting {
    font-weight: 600;
    font-size: 50px;
    color: white;
}